html, body {
    height: 100%;
    font-family: 'Lato', serif;

}

h2 {
    font-weight: 800;
    font-size: 42px;
    text-transform: uppercase;
}

.btn {
    transition: all 0.3s ease-in-out;
}

/*MEDIA QUERRIES*/

@media (min-width: 768px) {
    #hero-title {
        font-size: 2.5em;
    }
}

@media (max-width: 768px) {
    #social {
        text-align: center;

    }
    #social hr {
        margin: 5% auto;
    }

}

@media (min-width: 992px) {
    #hero-title {
        font-size: 3.5em;
    }
}

@media (max-width: 1180px) {
    #social {
        background: none !important;
    }
}

/*STYLING THE NAVBAR*/

nav .navbar-nav a {
    color: rgb(0, 0, 0) !important;
    font-family: 'Lato', serif;
    letter-spacing: 1px;

}

nav .navbar-nav a:hover {
    color: #f9f9f9 !important;
    font-family: 'Lato', serif;
}

.navbar-fixed-top {
    background-color: rgba(91, 91, 91, 0.49);
    border-bottom: 1px solid #bababa;
}

.navbar-toggler {
    outline: none !important;
    color: white;
    cursor: pointer;
}

.navbar-toggler .fa {
    color: #be2835;
}

/*END OF NAVBAR STYLING*/

/*HEADER*/

#header {
    background:url('../img/stars-bg.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
}

#chevron-container {
    position: relative;

}

#chevron {
    position: relative;
    bottom: -50px;
}

#chevron .fa {
    transition: all 0.3s ease-in-out;
    color: #be2835;
}

#chevron .fa:hover {
    color: #96222f;
    cursor: pointer;
}

#header img {
    padding-bottom: 20px;
    width: 60%;
}

#hero-title {
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5),
                 0px 7px 4px rgba(0, 0, 0, 0.1),
                 0px 15px 8px rgba(0, 0, 0, 0.1);

}

/*HEADER END*/

/*SOCIAL*/

#social {
    padding: 8%;
    background-image:url('../img/background.png');
    background-size: 50%;
    background-position: right;
    background-repeat: no-repeat;
}

hr.style {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#social .fa {
    font-size: 2em;
    color: #be2835;
    width: 75px;
    height: 75px;
    border: 1px solid #be2835;
    border-radius: 20%;
    text-align: center;
    padding: 26% 0;
    margin-bottom: 10%;
    transition: all 0.4s ease-in-out;
}

#social .fa:hover {
    color: white;
    background-color: #be2835;
}

.social-icons {
    padding-top: 3%;
}

/*SOCIAL END*/

/*BREAKPOINT*/



#breakpoint {

    /* The image used */
    background-image: url("../img/qyftkpfqzv4-wil-stewart.jpg");

    /* Set a specific height */
    min-height: 550px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
}

#breakpoint-title {
    text-align: center;
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.6),
                 0px 5px 6px rgba(0, 0, 0, 0.3),
                 0px 12px 8px rgba(0, 0, 0, 0.15);
}

/*END OF BREAKPOINT*/

/*WHO*/

#who {
    padding: 8%;
}

.intro {
    font-weight: 300;
    font-size: 1.2em;
}

#who .btn-outline-danger {
    width: 250px;
    border-color: #be2835;
    color: #be2835;

}

#who .btn-outline-danger:hover {
    background-color: #be2835;
    color: white;
}

/*END OF WHO*/

/*WORK*/

#work {
    padding: 8%;
    background-color: rgba(211, 211, 211, 0.2);
}

.work {
    margin-bottom: 5%;
}

.card {
    border: 1px solid rgba(0,0,0,0.45);
    border-radius: 0;
    margin-bottom: 30px;
}

.card-outline-secondary {
    box-shadow: 0 0px 0px rgba(0,0,0,0);
    transition: all 0.45s ease-in-out;
    position: relative;
    background-color: white;
}

.card-outline-secondary:hover {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
                0 15px 12px rgba(0, 0, 0, 0.22);
    transition: all 0.45s ease-in-out;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(190, 40, 53, 0), rgba(150, 43, 37, 0.75), rgba(190, 40, 53, 0));
}

.card-title {
    font-family: 'Oswald', sans-serif ;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
    color: black;
}

.quotation-mark {
    margin-top: -50px;
    font-weight: bold;
    font-size:100px;
    color: #be2835;
    font-family: "Times New Roman";
}

.quoted-text {
    margin-top: -70px;
    font-family: 'Oswald';
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.2;
    font-size: 1.3em;
}

h6 {
    font-family: 'Oswald';
    letter-spacing: 2px;
}

.quote-author {
    font-family: 'Roboto';
    font-weight: 400;
}

#work .work-img {
    position: relative;
}

#work .work-img .overlay-img {
    position:absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.45);
    width: 100%;
    height: 100%;
    background-image: url('../img/eye.png');
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
    z-index: 0;
    transition: all 0.3s ease-in-out !important;

}

#work .work-img .overlay-img:hover {
    opacity: 1 !important;
    z-index: 1 !important;
}

/*END OF WORK*/

/*WHY*/

#why {
    padding: 8%;
}

#why .fa {
    padding: 6% 0;
    color: #be2835;
}

#why h4 {
    letter-spacing: 1.5px;
    font-weight: 800;
}

#why .pitch {
    letter-spacing: 1.2px;
    text-transform: uppercase;
    line-height: 1.7;
}

/*END OF WHY*/

/*CUSTOMERS*/

#customers {
    padding: 8%;
    background-color: rgba(211, 211, 211, 0.2);
}

#customers .carousel-indicators li {
    background-color: #be2835;
}

#customers .carousel-inner {
    margin-bottom: 50px;
}

#customers .carousel-indicators {
    margin-bottom: -50px;
}

#customers .carousel {
    margin-top: 20px;
}

#customers blockquote {
    border-left: 0.2rem solid rgba(122, 122, 122, 0.6);
}
/*END OF CUSTOMERS*/