html, body {
    height: 100%;
    font-family: 'Lato', serif;

}

.btn {
    transition: all 0.3s ease-in-out;
}

/*MEDIA QUERRIES*/

@media (min-width: 768px) {
    #hero-title {
        font-size: 2.5em;
    }
}

@media (max-width: 768px) {
    #social {
        text-align: center;

    }
    #social hr {
        margin: 5% auto;
    }

}

@media (min-width: 992px) {
    #hero-title {
        font-size: 3.5em;
    }
}

@media (max-width: 1180px) {
    #social {
        background: none !important;
    }
}

/*STYLING THE NAVBAR*/

nav .navbar-nav a {
    color: #cacaca !important;
    font-family: 'Lato', serif;
    letter-spacing: 1px;

}

nav .navbar-nav a:hover {
    color: #E4E4E4 !important;
    font-family: 'Lato', serif;
}

.navbar-fixed-top {
    background-color: rgba(112, 112, 112, 0.2);
    border-bottom: 1px solid #bababa;
}

.navbar-toggler {
    outline: none !important;
    color: white;
    cursor: pointer;
}

.navbar-toggler .fa {
    color: #be2835;
}

/*END OF NAVBAR STYLING*/

/*HEADER*/

#header {
    background:url('../img/stars-bg.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
}

#chevron-container {
    position: relative;

}

#chevron {
    position: relative;
    bottom: -50px;
}

#chevron .fa {
    transition: all 0.3s ease-in-out;
    color: #be2835;
}

#chevron .fa:hover {
    color: #96222f;
    cursor: pointer;
}

#header img {
    padding-bottom: 20px;
    width: 60%;
}

#hero-title {
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5),
                 0px 7px 4px rgba(0, 0, 0, 0.1),
                 0px 15px 8px rgba(0, 0, 0, 0.1);

}

/*HEADER END*/

/*SOCIAL*/

#social {
    padding: 8%;
    background-image:url('../img/background.png');
    background-size: 50%;
    background-position: right;
    background-repeat: no-repeat;
}

hr.style {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#social .fa {
    font-size: 2em;
    color: #be2835;
    width: 75px;
    height: 75px;
    border: 1px solid #be2835;
    border-radius: 20%;
    text-align: center;
    padding: 26% 0;
    margin-bottom: 10%;
    transition: all 0.4s ease-in-out;
}

#social .fa:hover {
    color: white;
    background-color: #be2835;
}

.social-icons {
    padding-top: 3%;
}

/*SOCIAL END*/

/*BREAKPOINT*/



#breakpoint {

    /* The image used */
    background-image: url("../img/qyftkpfqzv4-wil-stewart.jpg");

    /* Set a specific height */
    min-height: 550px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
}

#breakpoint-title {
    text-align: center;
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.6),
                 0px 5px 6px rgba(0, 0, 0, 0.3),
                 0px 12px 8px rgba(0, 0, 0, 0.15);
}

/*END OF BREAKPOINT*/

/*WHO*/

#who {
    padding: 8%;
}

.intro {
    font-weight: 300;
    font-size: 1.2em;
}


/*END OF WHO*/