html, body {
    height: 100%;
    font-family: 'Lato', serif;

}

.btn {
    transition: all 0.3s ease-in-out;
}

/*MEDIA QUERRIES*/

@media (min-width: 768px) {
    #hero-title {
        font-size: 2.5em;
    }
}

@media (min-width: 992px) {
    #hero-title {
        font-size: 3.5em;
    }
}

/*STYLING THE NAVBAR*/

nav .navbar-nav a {
    color: #cacaca !important;
    font-family: 'Lato', serif;
    letter-spacing: 1px;

}

nav .navbar-nav a:hover {
    color: #E4E4E4 !important;
    font-family: 'Lato', serif;
}

.navbar-fixed-top {
    background-color: rgba(112, 112, 112, 0.2);
    border-bottom: 1px solid #bababa;
}

.navbar-toggler {
    outline: none !important;
    color: white;
    cursor: pointer;
}

/*END OF NAVBAR STYLING*/

/*HEADER*/

#header {
    background:url('../img/stars-bg.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
}

#chevron-container {
    position: relative;

}

#chevron {
    position: relative;
    bottom: -50px;
}

#chevron .fa {
    transition: all 0.3s ease-in-out;
}

#chevron .fa:hover {
    color: #E4E4E4;
    cursor: pointer;
}

#header img {
    padding-bottom: 20px;
    width: 60%;
}

#hero-title {
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5),
                 0px 7px 4px rgba(0, 0, 0, 0.1),
                 0px 15px 8px rgba(0, 0, 0, 0.1);

}

/*HEADER END*/